body {
    margin: 0px;
}
main {
    height: 100%;

    width: 390px;
    height: 844px;
    background-color: #1C1C1E;
    display: flexbox;
    flex-direction: column;
}

.stopwatch-container {
    height: 93vh;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.top-container {
flex-grow: 1.2;
display: flex;
flex-direction: column;
}


.timer-container{
    flex-grow: 1;
}

.buttons-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.button-left {
    background-color:#8E8E93;
    border: 3px solid #8E8E93;    
    height:75px;
    width:75px;
    border-radius:50%;
    box-shadow: 0px 0px 0px 2px #1C1C1E inset;
}

.button-right {
    background-color:#8E8E93;
    border: 3px solid #8E8E93;    
    height:75px;
    width:75px;
    border-radius:50%;
    box-shadow: 0px 0px 0px 2px #1C1C1E inset;
}

.laps-container {

    flex-grow: 0.8;
    border-top: 1.5px solid #49494C;
    }
}

.lap {

}

.clock-menu {
    height: 50px;
    background-color: #222223;
}

.clock-menu-button {

}